function Food.new 0
    push constant 3
    call Memory.alloc 1
    pop pointer 0
    push constant 10
    pop this 2
    push constant 250
    pop this 0
    push constant 120
    pop this 1
    push pointer 0
    return
function Food.updatePosition 4
    push argument 0
    pop pointer 0
    push constant 0
    pop local 3
    push constant 0
    pop local 2
label Food_0
    push local 2
    not
    push local 3
    push constant 100
    lt
    and
    not
    if-goto Food_1
    push constant 49
    call Random.randRange 1
    push constant 10
    call Math.multiply 2
    pop local 0
    push constant 22
    call Random.randRange 1
    push constant 10
    call Math.multiply 2
    pop local 1
    push local 0
    push constant 0
    gt
    push local 0
    push constant 490
    lt
    and
    push local 1
    push constant 0
    gt
    and
    push local 1
    push constant 220
    lt
    and
    not
    if-goto Food_3
    push argument 1
    push local 0
    push local 1
    call Snake.isPositionOccupied 3
    not
    push argument 2
    push local 0
    push local 1
    call Snake.isPositionOccupied 3
    not
    and
    not
    if-goto Food_5
    push local 0
    pop this 0
    push local 1
    pop this 1
    push constant 1
    neg
    pop local 2
    goto Food_4
label Food_5
label Food_4
    goto Food_2
label Food_3
label Food_2
    push local 3
    push constant 1
    add
    pop local 3
    goto Food_0
label Food_1
    push local 2
    not
    not
    if-goto Food_7
    push constant 250
    pop this 0
    push constant 120
    pop this 1
    goto Food_6
label Food_7
label Food_6
    push constant 0
    return
function Food.draw 0
    push argument 0
    pop pointer 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push this 0
    push constant 5
    add
    push this 1
    push constant 5
    add
    push constant 4
    call Screen.drawCircle 3
    pop temp 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push this 0
    push constant 5
    add
    push this 1
    push constant 5
    add
    push constant 1
    call Screen.drawCircle 3
    pop temp 0
    push constant 0
    return
function Food.clear 0
    push argument 0
    pop pointer 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 0
    push this 2
    add
    push this 1
    push this 2
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function Food.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function Food.getX 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Food.getY 0
    push argument 0
    pop pointer 0
    push this 1
    return